<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SERVER_URL</key>
	<string>http://120.36.0.50:7010/hyy/rest?method=%@</string>
	<key>TEST_URL</key>
	<string>http://120.36.0.52:7050/hyy/rest?method=%@</string>
	<key>URL_USER_ADD</key>
	<string>hyy.userinfo.add</string>
	<key>URL_USER_PWD</key>
	<string>hyy.userpwd.get</string>
	<key>URL_USER_LOGIN</key>
	<string>hyy.userinfo.login.get</string>
	<key>URL_CONFERENCES_LOGINGET</key>
	<string>hyy.conferences.login.get</string>
	<key>URL_CONFERENCES_GET</key>
	<string>hyy.conferences.get</string>
	<key>URL_MODULE_GET</key>
	<string>hyy.moduleConferences.get</string>
	<key>URL_AGENDAS_GET</key>
	<string>hyy.agendas.get</string>
	<key>URL_AGENDAINFOS_GET</key>
	<string>hyy.agendaInfos.get</string>
	<key>URL_TALKMESSAGEGROUP_GET</key>
	<string>hyy.talkmessagegroups.page</string>
	<key>URL_TALKMESSAGEGROUP_ADD</key>
	<string>hyy.talkmessagegroup.add</string>
	<key>URL_TALKMESSAGESPAGE_GET</key>
	<string>hyy.tmgrouptalkmessages.page</string>
	<key>URL_TALKMESSAGES_ADD</key>
	<string>hyy.talkmessage.add</string>
	<key>URL_TALKMESSAGES_GET</key>
	<string>hyy.talkmessages.get</string>
	<key>URL_TALKMESSAGE_GET</key>
	<string>hyy.talkmessage.get</string>
	<key>URL_TALKMESSAGE_EDIT</key>
	<string>hyy.talkmessage.edit</string>
	<key>URL_TALKCOMMENT_ADD</key>
	<string>hyy.talkcomment.add</string>
	<key>URL_TALKCOMMENTS_GET</key>
	<string>hyy.talkcomments.page</string>
	<key>URL_TALKMESSAGE_DEL</key>
	<string>hyy.talkmessage.remove</string>
	<key>URL_TALKCOMMENT_DEL</key>
	<string>hyy.talkcomment.remove</string>
	<key>URL_DINNERPLANS_GET</key>
	<string>hyy.dinnerplans.get</string>
	<key>URL_DINNERPLANSINFOS_GET</key>
	<string>hyy.dinnerplanInfos.get</string>
	<key>URL_DINNERTABLES_GET</key>
	<string>hyy.dinnertables.get</string>
	<key>URL_USERGROUP_GET</key>
	<string>hyy.usergroup.page</string>
	<key>URL_USERGROUPPAGE_GET</key>
	<string>hyy.users.page</string>
	<key>URL_USERINFOS_GET</key>
	<string>hyy.userinfos.get</string>
	<key>URL_PRIVATEMESSAGE_GETRECEIVE</key>
	<string>hyy.privatemessages.receive.get</string>
	<key>URL_PRIVATEMESSAGE_GETSEND</key>
	<string>hyy.privatemessages.send.get</string>
	<key>URL_PRIVATEMESSAGE_ADD</key>
	<string>hyy.privatemessage.add</string>
	<key>URL_PRIVATEMESSAGE_DEL</key>
	<string>hyy.privatemessage.remove</string>
	<key>URL_CLIENTPUSHS_GET</key>
	<string>hyy.clientpushs.get</string>
	<key>URL_CONFERENCEFILES_GET</key>
	<string>hyy.conference.files.get</string>
	<key>URL_CONFERENCEFILESPAGE_GET</key>
	<string>hyy.conferencefiles.page</string>
	<key>URL_RECOMMEND_ADD</key>
	<string>hyy.recommend.add</string>
	<key>URL_UISTYLES_GET</key>
	<string>hyy.styles.get</string>
	<key>URL_USER_CHECK</key>
	<string>hyy.user.check</string>
	<key>URL_EMAIL_SEND</key>
	<string>hyy.email.send</string>
	<key>URL_VERSION_GET</key>
	<string>version.get</string>
	<key>URL_TALKGROUP_GET</key>
	<string>hyy.talkgroups.get</string>
	<key>URL_CHECKCODE</key>
	<string>http://120.36.0.50/intf/checkin?code=%d;%@</string>
	<key>URL_LOADCODE</key>
	<string>http://120.36.0.50/intf/getDimension?code=%@;%@;%@</string>
	<key>URL_CONFERENCECHECK</key>
	<string>hyy.qrcode.check</string>
</dict>
</plist>
